/* página login */
html, body{
    min-height: 100vh; 
    font-family: 'Inter';
    background: #D9D9D9;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; 
    align-items: center !important; 

    
}
/* .tela-login{
    width: 80%;
    height: 450px;
    max-width: 500px;
    box-sizing: border-box; 
    border-radius: 25px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 40px;
    margin-top: 10vh;

} */
.custom-login-box {
    width: 80%; /* Seu estilo original */
    height: 450px;
    max-width: 500px; /* Seu estilo original */
    border-radius: 25px; 
    background-color: #FFF; 

    display: flex;
    flex-direction: column;
    align-items: center; 

    padding: 40px; /* Substituindo 0% 40px (ajustei para o mesmo valor) */
}
.login-title{    
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.login-form{
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1rem;  
}
.login-form label{
    width: 100%;
    margin-left: 10px;
    margin-bottom: 1px;
}
.input-dados{
    width: 100%;
    border-radius: 30px;
    background: rgba(153, 153, 153, 0.60);
    border: none;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 8px 15px;
}
.input-dados::placeholder{
    color: rgb(105, 105, 105) 
}
.btn-entrar{
    width: 190px;
    border-radius: 70px;
    background: #D9D9D9;
    border: none;
    color: #000;
    font-family: Inter;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.btn-entrar:hover{
    background-color: gray;     /*Cor quando passar o mouse encima*/
}
#link-esqueceu-senha{
    margin-top: 220px;
    display: block;
    font-family: Inter;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: italic;
    line-height: normal;
}
#link-esqueceu-senha:hover{
    text-decoration:underline;
}
#link-cadastro{
    margin-top: 30px;
    display: block;
    text-align: center;
    font-family: Inter;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: italic;
    line-height: normal;
}
#link-cadastro:hover{
    text-decoration:underline;
}
/* Configs tela cadastro */
.tela-cadastro{
    min-height: 530px;
}
#cadastro-email{
    margin-bottom: 35px;
}
#cadastro-senha{
    margin-bottom: 35px;
}
#confirmar-senha{
    margin-bottom: 35px;
}
.esqueceu-senha{
    height: 675px;
}
.btn-voltar-telaLog{
    position: absolute;
    top: 10px;
    left: 10px;  
}
/* HEADER PAGINA LOGIN */
.header-custom{
    background-color: #848080 !important;
    height: 80px; 
}
/* ESSE AQUI É DA IMAGEM 
.logo-icone{            
    display: block;
    width: 60px;
    height: 60px;
}
*/

.custom-logo-text{
    color: #D9D9D9 !important;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 
    -2px -2px 0 black, /* Superior Esquerdo */
     2px -2px 0 black, /* Superior Direito */
    -2px 2px 0 black,  /* Inferior Esquerdo */
     2px 2px 0 black;  /* Inferior Direito */
}
.menu-group-materias{
    width: 162px;
    height: 84px;
    border-radius: 20px;
    background: #00AEC7;
}
.left-panel{
    width: 250px;
    height: 100vh;
    position: fixed;
    border-radius: 5px;
    background: #848080;
    padding: 10px;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    top: 0;
    left: 0;
}
.menu-button{
color: #FFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#btn-materias{
    height: 84px;
    border-radius: 20px;
    background: #00AEC7;
    border: none;
}
#btn-estilos{
    height: 84px;
    border-radius: 20px;
    background:#EE2252;
    border: none;
}
#btn-detalhes{
    height: 84px;
    border-radius: 20px;
    background: #F58220;
    border: none;
}
.container{
    display: flex;
    width: 100%; 
    height: 100vh;
}
.main-content{
    flex-grow: 1; 
}
#submenu-materias,
#submenu-estilos,
#text-detalhes{
    display: none;
}
#submenu-materias.active,
#submenu-estilos.active,
#text-detalhes.active {
    display: block;
}
#text-detalhes {
    width: 100%; /* Exemplo de estilização */
    margin-top: 5px; /* Exemplo de estilização */
    resize: vertical; /* Exemplo de estilização */
    min-height: 50px; /* Exemplo de estilização */}
