/* página login */
body{
    min-height: 100vh;
    background: #D9D9D9;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}
.tela-login{
    width: 86%;
    max-width: 660px;
    min-height: 75vh;
    box-sizing: border-box; 
    border-radius: 25px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
}
.tela-login h1{    
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.login-form{
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1rem;  
}
.login-form label{
    width: 100%;
    margin-left: 0;
    margin-bottom: 1px;
}
.input-dados{
    width: 100%;
    height: 70px;
    border-radius: 30px;
    background: rgba(153, 153, 153, 0.60);
    border: none;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 15px 25px;
}
    .input-dados::placeholder{
    color: rgb(105, 105, 105) 
}
.btn-entrar{
    width: 190px;
    height: 80px;
    border-radius: 40px;
    background: #D9D9D9;
    border: none;
    color: #000;
    font-family: Inter;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.btn-entrar:hover{
    background-color: gray;     /*Cor quando passar o mouse encima*/
}
#link-esqueceu-senha{
    margin-top: 285px;
    display: block;
    font-family: Inter;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: italic;
    line-height: normal;
}
#link-esqueceu-senha:hover{
    text-decoration:underline;
}
#link-cadastro{
    margin-top: 40px;
    display: block;
    text-align: center;
    font-family: Inter;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: italic;
    line-height: normal;
}
#link-cadastro:hover{
    text-decoration:underline;
}
.esqueceu-senha{
    height: 675px;
}
.btn-voltar-telaLog{
    position: absolute;
    top: 10px;
    left: 10px;
    
}